<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Officer Application</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">

        <div class="mb-4">
          <h2>Welcome to your officer application, <%= user.name %>!</h1>
          <p><strong>All officer applicants must complete the general application!</strong> You may take as much time as you need to complete this application, but be aware of the due date. Remember to press save to save your progress. Good luck!</p>
        </div>

        <div class="alert alert-success collapse" role="alert" id="sucsess">
          Successfully saved data!
        </div>

        <div class="jumbotron pt-4 pb-4">
          <form method="post" action="/profile/form" id="mainform">
            <input type="hidden" name="type" value="officers">
            <input type="hidden" name="table" value="officers">
            <h4>Personal Information</h4>
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" name="name" type="text" class="form-control" value="<%= typeof data!='undefined' ? data.name : '' %>">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" name="email" type="text" class="form-control" value="<%= typeof data!='undefined' ? data.email : '' %>">
              <span id="emailHelpBlock" class="form-text text-muted"><strong>Do not</strong> use your FCPS email. This will be used to contact
                you after applications have been received. You must check this email!</span>
            </div>
            <div class="form-group">
              <label for="grade">Rising Grade:</label>
              <div>
                <select id="grade" name="grade" class="custom-select">
                  <%
                  var options = [ "Freshman", "Sophomore", "Junior", "Senior" ];
                  if(typeof data === "undefined") {
                    for ( var i = 0; i < options.length; i++ ) {
                        var selected = ( options[0] == options[i] ) ? "selected" : "";
                        %><option value="<%=options[ i ] %>" <%=selected %>><%= options[i] %></option><%
                    }
                  }
                  else {
                    for ( var i = 0; i < options.length; i++ ) {
                        var selected = ( data.grade == options[i] ) ? "selected" : "";
                        %><option value="<%=options[ i ] %>" <%=selected %>><%= options[i] %></option><%
                    }
                  }
                  %>
                </select>
              </div>
            </div>
            <h4>Teacher Recommendation</h4>
            <p>Select your Science teacher for your recommendation. We will automagically contact them and they
              will complete your recommendation electronically here. Be sure to inform your teachers that you have used them. <strong>Only use a Math teacher if your Science teacher is not listed.</strong></p>
            <div class="form-group">
              <label for="science_teacher">Science teacher for recommendation</label>
              <div>
                <select id="science_teacher" name="science_teacher" class="custom-select" required="required">
                  <%
                var options = ["None"];
                var emails = ["None"];
                for (let i = 0; i < scienceTeachers.length; i++) {
                  const element = scienceTeachers[i];
                  options.push(element.name);
                  emails.push(element.email);
                }
                
                if(typeof data === "undefined") {
                  for ( var i = 0; i < options.length; i++ ) { %>
                  <option value="<%=emails[ i ] %>" <%=selected %>>
                    <%= options[i] %>
                  </option>
                  <%
                  }
                }
                else {
                  for ( var i = 0; i < options.length; i++ ) {
                      var selected = ( data.science_teacher == emails[i] ) ? "selected" : "";
                      %>
                  <option value="<%=emails[ i ] %>" <%=selected %>>
                    <%= options[i] %>
                  </option>
                  <%
                  }
                }
                %>
                </select>
              </div>
              <div class="form-group">
              <label for="math_teacher">Math teacher for recommendation</label>
              <div>
                <select id="math_teacher" name="math_teacher" class="custom-select" required="required">
                  <%
                var options = ["None"];
                var emails = ["None"];
                for (let i = 0; i < mathTeachers.length; i++) {
                  const element = mathTeachers[i];
                  options.push(element.name);
                  emails.push(element.email);
                }
                
                if(typeof data === "undefined") {
                  for ( var i = 0; i < options.length; i++ ) { %>
                  <option value="<%=emails[ i ] %>">
                    <%= options[i] %>
                  </option>
                  <%
                  }
                }
                else {
                  for ( var i = 0; i < options.length; i++ ) {
                      var selected = ( data.math_teacher == emails[i] ) ? "selected" : "";
                      %>
                  <option value="<%=emails[ i ] %>" <%=selected %>>
                    <%= options[i] %>
                  </option>
                  <%
                  }
                }
                %>
                </select>
              </div>
            </div>
            </div>
            <h4>Short Answer</h4>
            <div class="form-group">
              <label for="textarea">Why do you think you would be a good Science Olympiad officer?</label>
              <textarea id="textarea" name="textarea" spellcheck="true" cols="40" rows="8" aria-describedby="textareaHelpBlock" class="form-control"><%= typeof data!='undefined' ? data.textarea : '' %></textarea>
              <span id="textareaHelpBlock" class="form-text text-muted">This is it! Make sure you respond substantively as to why you are the right person for the job.</span>
            </div>
            <div class="form-group">
              <label for="textarea1">Have you staffed any other leadership positions? If so, tell us about it!</label>
              <textarea id="textarea1" name="textarea1" spellcheck="true" cols="40" rows="5" class="form-control"><%= typeof data!='undefined' ? data.textarea1 : '' %></textarea>
            </div>
            <div class="form-group">
              <label for="textarea2">What is your greatest contribution to the team thus far?</label>
              <textarea id="textarea2" name="textarea2" spellcheck="true" cols="40" rows="5" class="form-control"><%= typeof data!='undefined' ? data.textarea2 : '' %></textarea>
            </div>
            <div class="form-group">
              <label for="textarea3">What would you like to see changed next year?</label>
              <textarea id="textarea3" name="textarea3" spellcheck="true" cols="40" rows="5" class="form-control"><%= typeof data!='undefined' ? data.textarea3 : '' %></textarea>
            </div>
            <div class="form-group">
              <label for="textarea4">How do you work with others?</label>
              <textarea id="textarea4" name="textarea4" spellcheck="true" cols="40" rows="5" class="form-control"><%= typeof data!='undefined' ? data.textarea4 : '' %></textarea>
            </div>
            <div class="form-group">
              <label>By checking yes below, you confirm that all of the information you have entered on this application is accurate to your knowledge.</label>
              <div>
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input name="confirm" id="radio2_0" type="radio" class="custom-control-input" value="Yes" required="required" <% if(typeof data != "undefined" && data.confirm == 'Yes') { %> checked="checked" <% } %>>
                    <label for="radio2_0" class="custom-control-label">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input name="confirm" id="radio2_1" type="radio" class="custom-control-input" value="No" required="required" <% if(typeof data != "undefined" && data.confirm == 'No') { %> checked="checked" <% } %>>
                    <label for="radio2_1" class="custom-control-label">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mb-5">
            <button name="submit" type="submit" class="btn btn-success" id="submit">Save</button>
            <a class="btn btn-danger ml-3 color-white" id="finalSubmit" onclick="finalSubmit()">Submit</a>
          </div>
        </form>
      </div>
    </div>
      <footer class="container">
      <hr>
    <p>&copy; Robinson Science Olympiad 2019-2020</p>
  </footer>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/officer.js"></script>
